- var pageTitle = data.getintouch.pageTitle
include ../page-title/page-title
.column(span="row")
    .git__profile-image
.column(span="row" height="10")

each icon in data.getintouch.iconList
    .column(span="1")
        .git__icon-blue
            div(class=`icon__${icon.icon}`)
.column(span="row" height="10")
.column(span="row")
    button.button-wrapper__green-arrow
        i.icon__arrow-down
.column(span="row" height="10")

