- var pageTitle = data["get-in-touch"].pageTitle
include ../page-title/page-title
.column(span="row")
    .git__profile-image
.column(span="row")

.column(span="1")
    .git__icon-blue
        .icon__facebook
    .git__icon-blue
        .icon__facebook
