.git__input-radio:checked + .column .git__icon-blue {
  background-color: #d52727;
}

.git__icon-blue {
  transition: 250ms;
  display: block;
  background-color: #1875f0;
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
  color: white;
  cursor: pointer;

  [class^="icon__"] {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    position: absolute;
  }
}

.git__profile-image {
  padding-top: 100%;
  background-color: white;
  position: relative;
  // padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transform: rotate(-2.5deg);

  &::after {
    content: "";
    background-image: url("asset/image/avatar_2.jpg");
    background-size: cover;
    position: absolute;
    border-radius: 6px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
  }
}
