.profile-image {
  padding-top: 100%;
  background-color: red;
  position: relative;

  &::after {
    content: "";
    background-image: url("asset/image/avatar_2.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
