- var pageTitle = data.getintouch.pageTitle
include ../page-title/page-title
.column(span="row")
    .git__profile-image
.column(span="row" height="10")


each icon, key  in data.getintouch.iconList
    input.git__input-radio(type="radio" name="same-name" id=`input__label--${key}`)
    .column(span="1")
        label(for=`input__label--${key}`).git__icon-blue
            i(class=`icon__${icon.icon}`)
.column(span="row" height="10")
.column(span="row")
    .git-description
        .git-description__header
            .git-description__title addaq
            .git-description__close
                input.git__input-radio(type="radio" name="same-name" id=`input__label--reset`)
                .column(span="1")
                    label(for=`input__label--reset`).git__icon-blue
                        i(class=`icon__cross`)
        .git-description__body
            p.git-description__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio explicabo voluptas error libero corporis consequatur nostrum ipsum at quam, magni, iste, provident assumenda impedit excepturi officia dicta unde eaque? Fugit.
        .git-description__footer
            button.download-button
                i.icon__link
                span.general-button=data["about-page"].downloadButton

.column(span="row" height="10")
.column(span="row")
    button.button-wrapper__green-arrow
        i.icon__arrow-down
.column(span="row" height="10")

