.column(span="row")
    .page-title__wrapper
        .page-title=pageTitle
.column(span="row" height="10")
.column(span="row")
    button.button-wrapper__red-content
        i.icon__youtube
.column(span="row" height="10")
