@media (min-width: 768px) {
  .grid {
    display: grid; 
    grid-template-columns: repeat(8, 1fr); 
    grid-gap: 16px;
  }

  .section__title-wrapper {
    &::before {
      left: -80px;
      right: -80px;
    }
  }
  
  .content {
    padding: 0 80px;
  }

  .column[span-tablet$="+4"] {
    grid-column: span 4;
    grid-row: span 4;
  }

  .grid__connect {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: auto / span 4;
    column-gap: 16px;
    margin-top: 15px;
  }

  .conectare__disc [class^="icon__"] {
    font-size: 4.5vw;
  }

  .lista__skills {
    width: 50%;
  }

  #menu-desfasurat:checked + ul.menu__lista {
    bottom: 30px;
  }

  .icon__menu.tableta {
    display: initial;
    position: fixed;
    bottom: 10vw;
    right: 4vw;
    padding: 6px 40px 40px 6px;
    background-color: white;
    border: 2px solid #707070;
    border-radius: 6px;
    font-size: 32px;
  }

  .proiecte__git-displayed {
    align-items: center;
    justify-content: center;
  }

  .proiecte__git-link {
    width: 230px;
  }

  .proiecte__git-link-wrapper {
    justify-content: center;
    align-content: center;
    display: flex;
  }

  .grid__portofolio,
  .laude-continut,
  .grid__recomandari {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  
    .proiect-recent {
      grid-column: auto / span 1;
    }
  }
}
