.connect__radio:checked + .column .connect__disc {
  background-color: #bababa;
}

.info-box__footer,
.info-box__body {
  padding: 20px;
}

.info-box__footer {
  display: flex;
  justify-content: center;
}

@for $i from 1 through 10 {
  .connect__radio:nth-of-type(#{$i}):checked ~ [data-info-box="#{$i}"] {
    display: block;
  }
}

[data-info-box] {
  display: none;
}

.info-box__body {
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
}

.info-box__with-arrow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background-color: white;
  position: relative;
  margin-top: 1rem;

  &::after {
    content: "";
    background-color: white;
    position: absolute;
    width: 15px;
    height: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    top: -7px;
    left: 15px;
    clip-path: polygon(-6px -6px, 100% 0, 0 100%);
    transform: rotate(45deg);
  }
}

.info-box__header {
  padding: 20px;
  display: flex;
  text-transform: capitalize;
}

.info-box__paragraph {
  font-size: 14px;
  line-height: 30px;
}

.info-box__title {
  flex-grow: 1;
  line-height: 40px;
  font-weight: 500;
  font-size: 22px;
}

.connect__disc {
  transition: 250ms;
  display: block;
  background-color: #3fd5be;
  border-radius: 50%;
  padding-top: 100%;
  position: relative;
  color: #fff;
  cursor: pointer;

  &[for="connect__label--reset"] {
    width: 40px;
    color: white;
  }

  [class^="icon__"] {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    font-size: 9vw;
    justify-content: center;
    align-items: center;
  }
}

.connect__avatar {
  padding-top: 100%;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transform: rotate(-3deg);

  &::after {
    content: "";
    background-image: url("asset/image/ada-avatar.jpeg");
    position: absolute;
    border-radius: 6px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-size: cover;
    font-size: 30px;
    background-color: #d52027;
  }
}
