.connect__avatar {
  padding-top: 100%;
  background-color:#ffffff;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.30);
  // border-radius: 8px;
  // transform: rotate(-3deg);

  &::after {
    content: '';
    background-image: url('asset/image/ada-avatar.jpeg');
    position: absolute;
    // border-radius: 6px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-size: cover;
    font-size: 30px;
  background-color:#3FD5BE;
  }
}
