.column(span="row")
  .sector__title-wrap
    .sector__title=data['my-story'].sectorTitle
.column(span="row" height="10")
.column(span="row")
  button.button__circle--red
    i.icon__youtube
.column(span="row" height="10")
