.column(span="row" titlu="titlu")
  .section__title-wrapper
    .section__title=sectionTitle
.column(span="row" height="10")
.column(span="row")
  label(for="portret").buton__disc-rosu 
    .icon__youtube
.column(span="row" height="10")
