      .section-title  Welcome to My CV 
        button.disc
         i.icon__youtube 
         span.button-text YT 
      h1 Margarita Martescu 
      h2 Junior Software Developer 
      h3 About Me 
    .description-box_with-shadow 
      p Experienced professional with a demonstrated history of working in the tech and international affairs industries. Highly skilled in analytical and problem solving skills, international relations, management and financial accounting.
      p  Proud supporter of civil rights, social activism, justice, education and equality for all. Strong graduate from UCL and a prospective MBA Candidate. 
      
      button.pill
        i.icon__download 
        span.button-text Download CV
