doctype html
html
  head
    title Welcome to my CV
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    //- .content
    .composition
      .grid
        include _component/about-me/about-me.pug