doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    //- Here I insert Page Title
    title Constantin Matei - Junior Web Developer
    link(rel="stylesheet", href="style.css")
  //- Here start content of my page
  body 
    input.youtube__checkbox(type="checkbox" id="portret" name="portret")
    .portret
      .inchis
        label(for="portret").disc__albastru
          i.icon__cross
      .portret__continut
        img(src="asset/image/mobil.png", alt="").image-device
        a.youtube__video(href="https://www.youtube.com/watch?v=JBTzRlXJh1E&list=PLlgRhtOkjmmCrwpmciCFcDNaFh7JnVPhO")
          img(src="asset/image/youtube.png", alt="")

    .content 
      .grid
        include _component/about-me/about-me
        include _component/connect/connect
        include _component/skills/skills
        include _component/experience/experience
        include _component/open-source/open-source
        include _component/portofolio/portofolio
        include _component/recommendations/recommendations
        include _component/reviews/reviews
        include _component/proud/proud
        include _component/menu/menu
        





