doctype 
html
  head
    title adding some content for the website
  body 
    .content 
      .section-title  Welcome to My CV 
        button.disc
         i.icon__youtube 
      h1 Margarita Martescu 
      h2 Junior Software Developer 
      h3 About Me 
    .description-box_with-shadow 
      p I make the Front-End world a better place everyday. I translate geek into English and my passion is to innovate and design for the future.
      p I'm a proud student that helps 

