doctype 
html
  head
    title adding some content for the website
  body 
    .content 
      .section-title  Welcome to My CV 
        button.disc
         i.icon__youtube 
      h1 Margarita Martescu 
      h2 Junior Software Developer 
      h3 About Me 
