.column(span="row")
  .tittle__area-wrapper
    .title__area Hello, this is My CV
.column(span="row")
  button.disc 
    i.icon__youtube
    button.text-button YT
.column(span="row")
  h1.about-me__main-title Gratiela Zburlea
.column(span="row")
  h2.about-me__sub-title Junior Web Developer
.column(span="row")
  h3.about-me__lead-title More about Me
.column(span="row")
  .box-shadow__info
    p.description I create beautiful website, organise events, create brainstorming meetings, motivate and help teammate to increase productivity and delivery. Let's have a chat.

.column(span="row")
  button.pill
    i.icon__download
    button.text-button Clic to download my CV
.column(span="row")
  button.disc
    i.icon__arrow-down
    button.button-text AD

