.button__pill--green {
  height: 40px;
  width: 165px;
  margin: 0 auto;
  color: black;
  border: 0;
  border-radius: 20px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: bold;

  i {
    margin-right: -8px;
    margin-bottom: 2px;
  }
}

button[class^="button__disc"] i[class^="icon__"] {
  height: 18px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__pill--green {
  background-color: #62ed61;
}

.button__disc--red,
.button__disc--blue {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  align-items: center;
  display: inline-flex;
  display: -webkit-box;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  color: #fff;
}

.button__disc--blue {
  background-color: #1875f0;
  color: #fff;
}

.button__disc--red {
  background-color: #d52027;
}

.about-me__main-title,
.about-me__sub-title {
  font-weight: 600;
  color: #6d6d6d;
  text-align: center;
}

.about-me__main-title {
  font-size: 42px;
  line-height: 68px;
}

.about-me__sub-title {
  line-height: 40px;
  font-size: 28px;
}

.about-me__lead-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #808080;
}

.description-box__with-shadow {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  padding: 20px;
  border-radius: 6px;
}

.description {
  font-size: 15px;
  color: #808080;
  font-weight: 600;
  line-height: 30px;
}
