.section-title Welcome to my CV
button.disc
i.icon__youtube
span.button-text UT
h1 Virgil A. Ciociu
h2 Starter Junior Developer
h3 About me
.description-box__with-shadow
p I'm centred on an agile mind-set and I automated enhancements myself with a view of continual improvement.
p  With a genuine passion for technology, enthusiasm and willingness to learn tonnes of new skills and new technologies.
p I'm a team player and I have the ability to thrive under pressure whilst maintaining high levels of attention to detail.

button.pill
  i.icon__download
  span.button-text Click here to Download